.ticket {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 3px 3px 3px #b0afb0;
    z-index: 1;
    width: 350px;
}

/*.ticket::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: -1px;
    right: -1px;
    height: 10px;
    background-image: linear-gradient(45deg, #ddd 35.33%, transparent 0), linear-gradient(-45deg, #ddd 35.33%, transparent 0);
    background-position: 0 0, 10px 0;
    background-size: 50px 10px;
    background-repeat: repeat-x;
    transform: scaleY(0.6) rotate(-0deg);

}*/

.ticket-header {
    background-color: #FFF;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.ticket-body {
    background-color: #FFF;
    padding: 10px;
    overflow-y: auto;
    min-height: 50vh;
    max-height: 200px;
    font-size: 1.2rem;

}

ticket-title {
    font-size: 24px;
    margin: 0;
}

.ticket-items {
    margin: 20px 0;

}

.ticket-item {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

}

.ticket-footer {
    background-color: #FFF;
    /*border-top: 1px solid #ccc;*/
    font-size: 1.5rem;
    padding: 10px;
    border-top: 1px solid #ccc;
    max-height: 50px;
    text-align: end;
    padding-right: 20px;
    padding-bottom: 60px;

}

@media screen and (min-width: 576px) {
    .ticket {
        width: 450px;
    }

    .ticket-body {
        background-color: #FFF;
        padding: 10px;
        overflow-y: auto;
        min-height: 70vh;
        max-height: 200px;
    }
}

@media screen and (min-width: 768px) {

    .ticket-body {
        min-height: 90vh;
    }

    .ticket {
        width: 480px;
    }
}

@media screen and (min-width: 992px) {

    .ticket-body {
        min-height: 80vh;
    }
}

@media screen and (min-width: 1200px) {
    .ticket-body {
        min-height: 60vh;
    }
}

@media screen and (min-width: 1400px) {
    .ticket-body {
        font-size: 1.3rem;
    }

    .ticket {
        width: 350px;
    }
}

@media screen and (min-width: 1600px) {
    .ticket {
        width: 450px;
    }
}